<style media="screen">
  body {
    background-color: #EBE5B9
  }
  h2,h4 {
    color:rgb(100,0,0)
  }
  textarea {
    background: #E8E6D8; /* This ruins default border */
    border: 1px solid #888;
  }
  a {
    color: rgb(200,0,0)
  }
</style>

<h2>O projekcie BlaBlaDor v1.0</h2>
<br>
Projekt powstaje na podstawie tutoriala Django 2 na platformie Udemy.
<br>
Służy głównie do zabawy i eksperymentowania.
<br>
To nie żarty, to nie jest wersja produkcyjna :)
<br>
<br>
<br>
<br>
<br>
<a href="{% url 'home' %}">Strona główna</a>
<br>
<br>
<br>
<h4>P4N4C3UM Software 2018</h4>
